.Parallax
{
    background-size: cover;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    margin: auto;
    height: 500px;
    width: 100%;
    /* float: right !important; */
    padding: 10px;
    border-radius: 8px;
}
.ParallaxContainer
{
    background-color: #FEF8EC;
    margin: auto;
    padding: 25px 10px;
    width: 90%;
    /* border-radius: 8px;
    margin: 4%; */
    box-shadow: 0px 10px 10px 0px #888888;
}
.buttonStyle
{
    transition: all 0.2s;
    background-color: transparent;
    border: solid 1 px black;
    border-color: rgb(30, 120, 238);
    border-radius: 4px;
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: rgb(30, 120, 238);
}
.buttonStyle:hover
{
    transition: all 0.2s;
    background-color: rgb(30, 120, 238);
    color: #fff;
}
.solid
{
    border-top: 1px solid #bbb;
    width: 95%;
    opacity: 0.8;
}